
html {
  height: 100%;

}

/**
body {
  background-color: navy;
  background: radial-gradient(navy, black);
}
  */

body {
  background: radial-gradient(navy, black);
  min-height: 1000px;
}

#app {

  display: grid;
  position: relative;
  justify-content: center;
  justify-self: center;
  text-align: center;
  margin: 0 auto;
  cursor: default;
}
  
.titleDiv {
  display: grid;
  width: fit-content;
  margin: 10px auto;
  padding: 0px;
  color: white;
  text-align: center;
  z-index: 1000;
}
  
.titleDiv a {
  margin: 0 auto;
  font-family: "Tektur", system-ui;
  color: Orange;
  font-size: 2.5em ;
  text-decoration: none;
}
  
  

canvas {
  box-sizing: border-box;
  background-color: white;
  box-shadow: -2px -2px 63px 10px rgba(0,0,0,0.75);

}
 
.staffDiv {
  margin: auto;
  justify-content: center;
  display: grid;
  position: relative;
}




#note {
  position: absolute;
  text-align: center;
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 20px;
  border-radius: 0px 5px 0px 0px;
  align-self: end;
}


.bottomBar {
  display: flex;
  justify-content: center;
  align-content: center;
}



/*********************************************************************************************************************************/



.playButtonContainer {
  margin: 0px auto;
  justify-content: center;
}

.playButton {
  padding: 20px;
  margin: 20px auto;
  height: 5ch;
  border-radius: 20px;
  border-width: 2px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  background-color: lightgreen;
}

#repeatButton {
  background-color: lightskyblue;
}

.playButton:hover {
  opacity: .8;
}




/**

@media (min-width: 749px) {

  .bottomBar {
    margin: none;
    justify-content: center;
    display: grid;
    grid-template-columns: none;
  }

  .playButton {
    padding: 10px;
    margin: 5px auto;
    width: 8ch;
    height: 8ch;
    border-radius: 50%;
    border-width: 2px;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    background-color: lightgreen;
  }

  #note {
    border-radius: 10px;
  }

}
*/


 
 